{% extends "base.html.twig" %}

{% block title %}
    BackOffice | Modification Membre
{% endblock %}

{% block body %}
    <h1 class="h1 mt-3 mb-4">Modification du membre <span>{{user.username}}</span></h1>
    
    {{ form_start(formUser, {"attr": {"class": "col-md-12 mx-auto py-4 row justify-content-around"}}) }}
        {{ form_row(formUser.roles, {"label": false}) }}
		{{ form_row(formUser.save, {'label' : "Modifier", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}
    {{ form_end(formUser) }}
{% endblock %}