{% extends "base.html.twig" %}

{% block title %}
    BackOffice | Gestion des Membres
{% endblock %}

{% block body %}
    <h1 class="h1 mt-3 mb-4">Gestion des Membres</h1>

    {% for label, messages in app.flashes(["success", "danger"]) %}
        {% for message in messages %}
            <div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto mb-4">
                <span class="bg-msg text-{{label}} font-italic rounded text-center mx-auto py-2 px-4">
                    {{message}}
                </span>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="overflow_table">
        <table class="table table-bordered table-striped text-center">
            <tr class="align-middle">
                {% for column in columns %}
                    {% if column == "username" %}
                        <th class="align-middle font-weight-bold">UTILISATEUR</th>
                    {% elseif column == "email" %}
                        <th class="align-middle font-weight-bold">EMAIL</th>
                    {% elseif column == "roles" %}
                        <th class="align-middle font-weight-bold">ROLE</th>
                    {% endif %}
                {% endfor %}
                        <th class="align-middle font-weight-bold">MODIFIER</th>
                        <th class="align-middle font-weight-bold">SUPPRIMER</th>
            </tr>

            {% for user in users %}
                <tr class="align-middle">
                    <td class="align-middle">{{user.username}}</td>
                    <td class="align-middle">{{user.email}}</td>
                {% if user.roles[0] == "ROLE_ADMIN" %}
                    <td class="align-middle font-weight-bold" style="color: #8a0030;">Administrateur</td>
                {% else %}
                    <td class="align-middle">Utilisateur</td>
                {% endif %}

                    <td class="align-middle"><a href="{{ path("admin_edit_user", {"id": user.id}) }}" class="edit-backoffice btn-jp"></a></td>
                    <td class="align-middle"><a href="{{ path("admin_delete_user", {"id": user.id}) }}" class="delete-backoffice btn-jp" onclick="return(confirm('Voulez-vous vraiment supprimer ce membre ?'))"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}