{% extends "base.html.twig" %}

{% block title %}
    BackOffice | Gestion des Jeux
{% endblock %}

{% block body %}
    <h1 class="h1 mt-3 mb-4">Gestion des Jeux</h1>

    {% for label, messages in app.flashes(["success", "danger"]) %}
        {% for message in messages %}
            <div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto mb-4">
                <span class="bg-msg text-{{label}} font-italic rounded text-center mx-auto py-2 px-4">
                    {{message}}
                </span>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="overflow_table">
        <table class="table table-bordered table-striped text-center">
            <tr class="align-middle">
                {% for column in columns %}
                    {% if column == "name" %}
                        <th class="align-middle font-weight-bold">JEU</th>
                    {% elseif column == "minPlayers" %}
                        <th class="align-middle font-weight-bold">JOUEURS MIN</th>
                    {% elseif column == "maxPlayers" %}
                        <th class="align-middle font-weight-bold">JOUEURS MAX</th>
                    {% elseif column != "owner_id" and column != "category_id" and column != "isArchived" %}
                        <th class="align-middle font-weight-bold">{{column|upper}}</th>
                    {% endif %}
                {% endfor %}
                        <th class="align-middle font-weight-bold">CATEGORIE</th>
                        <th class="align-middle font-weight-bold">MODIFIER</th>
                        <th class="align-middle font-weight-bold">SUPPRIMER</th>
            </tr>


            {% for game in games %}
                <tr class="align-middle">
                    <td class="align-middle">{{game.id}}</td>
                    <td class="align-middle">{{game.name}}</td>
                    <td class="align-middle">{{game.public}}</td>
                    <td class="align-middle">{{game.minPlayers}}</td>
                    <td class="align-middle">{{game.maxPlayers}}</td>
                    <td class="align-middle">{{game.description|striptags|slice(0,50)}}...</td>
                    <td class="align-middle"><a href="{{ path('detail', {'id': game.id}) }}"><img src="{{ asset('uploads/images/' ~ game.image) }}" alt="jeu {{game.name}}" height="80px" width="auto"></a></td>
                    <td class="align-middle">{{game.category.name}}</td>

                    <td class="align-middle"><a href="{{ path("admin_edit_game", {"id": game.id}) }}" class="edit-backoffice btn-jp"></a></td>
                    <td class="align-middle"><a href="{{ path("admin_delete_game", {"id": game.id}) }}" class="delete-backoffice btn-jp" onclick="return(confirm('Voulez-vous vraiment supprimer ce jeu ?'))"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}