{% extends 'base.html.twig' %}

{% block  title %}
    Profil
{% endblock %}


{% block body %}
   
	<h1 class="h1 mt-3 mb-4">Votre profil</h1>

	<p class="text-center my-4 font-italic p_profil"><img src="{{ asset('img/finger.png') }}" alt="" class="finger_icon"> Pour emprunter et enregistrer des jeux, votre profil doit être <span style="text-decoration: underline;">entièrement complété</span></p>

	{% for label, messages in app.flashes(["danger", "success"]) %}
		{% for message in messages %}
			<div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto mb-3">
				<span class="bg-msg text-{{label}} font-italic rounded text-center mx-auto py-2 px-4">
					{{message}}
				</span>
			</div>
		{% endfor %}
	{% endfor %}
		
	<section class="row justify-content-center">
		<div class="col-md-10">
			{{ form_start(form, {'attr': {'class': 'col-md-12 mx-auto py-4 row justify-content-around'}}) }}

				{{ form_row(form.username, {'label' : "Nom d'utilisateur", 'attr' : {'placeholder': "Nom d'utilisateur"}} ) }}
				{{ form_row(form.lastname, {'label' : "Nom",'attr': {'placeholder': 'Nom'}}) }}
				{{ form_row(form.firstname, {'label' : "Prénom", 'attr' : {'placeholder': "Prénom" }}) }}
				{{ form_row(form.address, {'label' : "Adresse", 'attr' : {'placeholder': "adresse" }}) }}
				{{ form_row(form.zipcode, {'label' : "Code postal (Yvelines)", 'attr' : {'placeholder': "code postal" }}) }}
				{{ form_row(form.city, {'label' : "Ville", 'attr' : {'placeholder': "ville" }}) }}
				{{ form_row(form.save, {'label' : "Modifier", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}

			{{ form_end(form) }}
		</div>
	</section>
	
{% endblock %}
