{% extends 'base.html.twig' %}

{% block  title %}
    Créer un compte
{% endblock %}


{% block body %}
    <h1 class="h1 mt-3 mb-4">Créer votre compte</h1>

    {# importer "form_themes: ['bootstrap_4_layout.html.twig']" dans config -> packages -> twig.yaml pr avoir un formulaire bootstrap #}
    <section class="row justify-content-center">
        <div class="col-md-10">
            {{ form_start(form, {'attr' : {'class': 'col-md-12 mx-auto py-4 row justify-content-around'}}) }}
				
                {{ form_row(form.username, {'label' : "Nom d'utilisateur", 'attr' : {'placeholder': "Nom d'utilisateur"}}) }}
                {{ form_row(form.email, {'attr': {'placeholder': 'Adresse e-mail'}}) }}
                {{ form_row(form.password, {'label' : 'Mot de passe', 'attr' : {'placeholder' : 'Mot de passe'}}) }}
                {{ form_row(form.confirm_password, {'label' : 'Confirmation mot de passe', 'attr' : {'placeholder' : 'Confirmez mot de passe'}}) }}
				{{ form_row(form.save, {'label' : "Valider", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}

            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
