{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="h1 mt-3 mb-4">
		{% if gameName != null %}
		Modification du jeu "{{gameName}}"
		{% else %}
		Ajouter un jeux
		{% endif %}
	</h1>

	<section class="row justify-content-center">
        <div class="col-md-10">
			{{ form_start(form, {'attr' : {'class': 'col-md-12 mx-auto py-4 row justify-content-around' }}) }}

				{{ form_row(form.name, {'label' : "Jeu", 'attr' : {'placeholder': "Nom du jeu" }}) }}
				{{ form_row(form.category, {'label' : "Catégorie"}) }}
				{{ form_row(form.minPlayers, {'label' : "Nombre de joueurs min", 'attr' : {'placeholder': "-" }}) }}
				{{ form_row(form.maxPlayers, {'label' : "Nombre de joueurs max", 'attr' : {'placeholder': "-" }}) }}
				{{ form_row(form.public, {'label' : "Age"}) }}
				{{ form_row(form.image, {'label' : "Photo du jeu (2 Mo max)", 'attr' : {'placeholder': "jpg, jpeg ou png" }}) }}
				{{ form_row(form.description, {'label' : "Règle du jeu", 'attr' : {'rows': "4", 'placeholder': "Détaillez la règle du jeu"}}) }}

				{% if gameName != null  %}
				{{ form_row(form.save, {'label' : "Modifier", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}
				{% else %}
				{{ form_row(form.save, {'label' : "Enregistrer", 'attr' : {'class': 'btn-jp mx-auto mt-4'}}) }}
				{% endif %}

			{{ form_end(form) }}
        </div>
    </section>

{% endblock %}