{% extends 'base.html.twig' %}

{% block  title %}
    Mes Jeux
{% endblock %}

{% block body %}

	<h1 class="h1 mt-3 mb-4">Liste de mes jeux</h1>

	<div class="mt-5 mb-4 text-center">
		<a href="{{ path('account_games_create') }}" class="btn-jp mt-4 mb-3" >Ajouter un jeu</a>
	</div>

	{% for label, messages in app.flashes(["danger", "success"]) %}
		{% for message in messages %}
			<div class="col-lg-8 d-flex justify-content-center align-items-center mx-auto my-3">
				<span class="bg-msg text-{{label}} font-italic rounded text-center mx-auto py-2 px-4">
					{{message}}
				</span>
			</div>
		{% endfor %}
	{% endfor %}

	{% if games|length > 0 %}
		<div class="row">
			{% for game in games %}
				<div class="col-md-6 col-lg-4 mt-4 mb-1 px-0 px-sm-2">
					<div class="card mb-4 shadow-sm col_rwd">
						<div id="photo_account_games">
							<img src="{{ asset('uploads/images/' ~ game.image) }}" alt="jeu {{game.name}}">
						</div>	
						<div class="card-body card_account_games">
							<h4 class="text-center size-game-name">{{game.name}}</h4>
							
							<p class="card-text my-1"><span>Catégorie :</span> {{game.category.name}}</p>
							<p class="card-text my-1"><span>Age :</span> {{game.public}}</p>
							<p class="card-text my-1"><span>Nombre de joueurs :</span> {{game.minPlayers}} {% if game.maxPlayers != NULL and game.maxPlayers != game.minPlayers %} à {{game.maxPlayers}} {% endif %}</p>
							
							<div class="btn-group d-flex justify-content-center">
								<a href="{{ path('detail', {'id': game.id}) }}" class="btn btn-sm btn-outline-secondary btn-resize">Voir</a>
								<a href="{{ path('account_games_edit', {'id': game.id}) }}" class="btn btn-sm btn-outline-secondary btn-resize">Modifier</a>
								<a href="{{ path('account_games_delete', {'id': game.id}) }}" class="delete btn btn-sm btn-outline-secondary btn-resize" onclick="return(confirm('Voulez-vous vraiment supprimer ce jeu ?'))"  id="delete"></a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p class="text-center font-italic my-5 mx-auto">Vous n'avez pas encore enregistré de jeux, <a href="{{ path('account_games_create') }}" class="font-weight-bold underline_a">ajoutez-en dès maintenant</a></p>
	{% endif %}

{% endblock %}